aniso8601==8.1.0
arrow==0.17.0
certifi==2023.7.22
chardet==4.0.0
click==7.1.2
Flask==2.2.5
Flask-RESTful==0.3.8
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
python-dateutil==2.8.1
pytz==2020.4
requests==2.31.0
six==1.15.0
stravalib==0.10.2
units==0.7
urllib3==2.0.2
Werkzeug==2.2.3
