*.log
*.pyc
*.lnk
*.tcx
*.json
*.spec
*.snap
venv
snap
Thumbs.db
pythoncode/build/
pythoncode/dist/
Miscellaneous/
node_modules
package-lock.json
pythoncode/help.txt
!StartUp Json/FortiusAntSettings.json
